#search{
  margin-bottom: 20px;
  input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom:20px ;  
    border: 1px solid black;
  }

  select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9c27b0;
    color: white;
    margin-right: 10px;
  }
}

.product-card-right{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 100% !important;
    margin-right: 2px;
  }

  span{
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 100% !important;
    margin-right: 2px;
  }
}

#pagination{
  padding: 20px 0;
  .pagination-btns{
    display: flex;
    justify-content: center;

    button{
      padding: 10px 15px;
      background-color: #9c27b0;
      color: white;
      border: none;
      border-radius: 4px;

      &:disabled{
        background-color: #6D6E76;
      }
    }
    span{
      padding: 10px 15px;
      font-size: 20px;
      color: white;
    }
  }
}