.contact{
  
  .contact-container{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;

    >div{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

