.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width:800px) {
    &{
      grid-template-columns: 1fr;
    }
  }
  
  >div{
    padding: 20px;
    border-radius: 7px;
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}