.account-page{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width:800px) {
    grid-template-columns: 1fr;

    &{
      form{
        height: 100% !important;
      }
    }
  }

  form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgba(209, 222, 222, 0.541);
    padding: 20px;
    border-radius: 10px;

    h1{
      color: black !important;
      border: none !important;
    }

    >*{
      padding: 5px 10px;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid #9c27b0;
    }

    button{
      background-color: #9c27b0;
    }
  }
}